.day {
  border-left: 1px solid var(--borderColour);
}

.day:last-child {
  border-right: 0;
}

.day .label {
  align-items: center;
  border-radius: 50%;
  display: flex;
  height: 20px;
  justify-content: center;
  margin: 4px;
  width: 20px;
}

.day.is-faded .label {
  opacity: 0.2;
}

.day.is-today .label {
  background-color: var(--materialBlue);
  color: white;
}

.day .event {
  background-color: #b3e0db;
  border-radius: 4px;
  color: #202124;
  font-size: 12px;
  margin-right: 8px;
  overflow: hidden;
  padding: 2px 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
