.day {
  border-left: 1px solid var(--borderColour);
  border-top: 1px solid var(--borderColour);
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.day:last-child {
  border-right: 0;
}

.day .label {
  align-self: center;
  border-radius: 50%;
  height: 20px;
  line-height: 20px;
  margin: 4px;
  text-align: center;
  width: 20px;
}

.day.is-faded .label {
  opacity: 0.2;
}

.day.is-today .label {
  background-color: var(--materialBlue);
  color: white;
}

.day .event {
  background-color: #b3e0db;
  border-radius: 4px;
  color: #202124;
  font-size: 12px;
  margin-right: 8px;
  margin-bottom: 4px;
  overflow: hidden;
  padding: 2px 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
