.app {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: 50px repeat(4, calc((100% - 50px) / 4));
  grid-template-areas:
    'header  header   header   header   header'
    'sidebar calendar calendar calendar calendar'
    'sidebar calendar calendar calendar calendar'
    'sidebar calendar calendar calendar calendar'
    'sidebar calendar calendar calendar calendar';
  height: 100%;
}
