.app {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 50px repeat(4, 1fr);
  grid-template-areas:
    'header  header   header   header   header'
    'sidebar calendar calendar calendar calendar'
    'sidebar calendar calendar calendar calendar'
    'sidebar calendar calendar calendar calendar'
    'sidebar calendar calendar calendar calendar';
  height: 100%;
}
